venv*
*.sensitive
token.*
.venv*

# dynamic files
itemlist.json
passivelist.json
counter.json
cogs.json

# the seeecreet
LEBlogger.py

# othjer stuff

__pycache__/
*.log
*.mp3

# local save files
*.json
*.bak
*.ytdl
temp
*.txt
output